<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${playlist.name}">Playlist name</title>
</head>
<body>
<header th:insert="~{fragments :: logout}">Logout</header>

    <h1 th:text="${playlist.name}"></h1>
    <div>
        <a th:href="@{/playlists/{playlistId}/edit(playlistId=${playlist.id})}">Edit</a>
    </div>
    <div>
        <div th:each="video : ${videos}">
            <a th:href="@{/videos/{videoId}(videoId=${video.id})}" th:text="${video.name}"></a>
        </div>
    </div>


    <footer th:insert="~{fragments :: footer}">Footer</footer>
</body>
</html>